.card {
  background-color: #fff; /* Cor de fundo branca */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-top: 5px solid #C0392B; /* Borda superior vermelha */
}

.card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #555;
}

.card p {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 0;
} 