# Banco de dados MySQL - CRUD (sistema)
# Servidor Tesla - Locaweb
DB1_HOST =
DB1_NAME =
DB1_USERNAME =
DB1_PASSWORD =

# Banco de dados MySQL
# Servidor Tesla - Locaweb
DB2_HOST =
DB2_NAME =
DB2_USERNAME =
DB2_PASSWORD =

# Banco de dados SQL Server - Webservice Implanta
# Servidor Local - Final .109
DB3_HOST =
DB3_NAME =
DB3_USERNAME =
DB3_PASSWORD =

# Redis config
REDIS_HOST =
REDIS_PORT =
REDIS_PASSWORD =